.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
  background-color: var(--header-color);
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: 0.4px solid whitesmoke;
  opacity: 0.95;
}
.logo {
  height: 72px;
}
.nav-bar {
  display: flex;
  gap: 25px;
  font-family: var(--font-header);
}
.nav-bar a:hover {
  color: var(--a-hover-color);
  transition: 0.3s;
}
.nav-bar-item {
  font-weight: 400;
  font-size: 20px;
  transition: 0.5s;
  color: var(--text-color-header);
}
