.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
  background-color: whitesmoke;
  position: sticky;
}
.logo {
  height: 72px;
}
.nav-bar {
  display: flex;
  gap: 25px;
  font-family: var(--font-header);
}
.nav-bar a:hover {
  color: var(--a-hover-color);
  transition: 0.3s;
  transform: scale(1.1);
}
.nav-bar-item {
  font-weight: 400;
  font-size: 20px;
  transition: 0.5s;
  color: var(--text-color-header);
}

@media screen and (max-width: 600px) {
  .nav-bar-item {
    font-size: 16px;
  }
  .logo {
    height: 52px;
  }
}
