.content-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: var(--bg-color);
  padding: 30px;
}
.content-principal-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.content-principal-text-title {
  font-family: var(--font-body);
  font-weight: 400;
  font-size: 60px;
  color: var(--text-color-body);
}
.content-principal-text-subtitle {
  font-family: var(--font-body);
  font-weight: 300;
  color: var(--text-color-body);
  font-size: 35px;
}
.content-principal-button {
  background-color: var(--btn-linkedin-color);
  width: 180px;
  height: 60px;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  font-family: var(--font-body);
  font-weight: 400;
  font-size: 25px;
  color: var(--btn-text-color);
}
.content-principal-button:hover {
  background-color: rgba(116, 121, 162, 0.53);
  color: var(--text-color-body);
}

.content-principal-image {
  height: 430px;
}

@media screen and (max-width: 768px) {
  .content-principal {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    padding: 20px;
  }
  .content-principal-text-title {
    padding: 15px;
  }
  .content-principal-image {
    margin-top: 0 auto;
    height: 210px;
    padding: 20px;
  }
  .content-principal-text-subtitle {
    padding: 15px;
  }
}
