.projects {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background-color: var(--bg-projects-color);
  padding: 34px;
}

.content-projects {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.title-projects {
  font-size: 50px;
  color: var(--text-color-body);
  font-family: var(--font-body);
  font-weight: 400;
}

.list-projects {
  display: flex;
  gap: 150px;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.item-projects {
  width: 150px;
  height: 150px;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  color: var(--text-color-body);
  font-family: var(--font-body);
  padding: 5px;
  transition: all 0.3s linear;

}

.item-projects:hover {
  background-color: #46425B;
  color: #f5f5f5;
  transform: scale(1.1);
  transition: all 0.3s linear;
  /* transition: ease-in-out; */
}

.btn-github {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--btn-github);
  font-family: var(--font-body);
  width: 400px;
  height: 60px;
  color: var(--btn-text-color-github);
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  font-size: 20px;
}

.btn-github:hover {
  background-color: rgba(116, 121, 162, 0.53);
  color: var(--text-color-body);
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }

  .content-projects {
    display: flex;
    align-items: center;
  }

  .list-projects {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .item-projects {
    width: 75px;
    height: 75px;
    align-items: center;
    text-align: center;
  }

  .btn-github {
    width: 280px;
    height: 60px;
    font-size: 16px;
    cursor: pointer;
  }
}