/*skills*/
.content-skills {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--bg-skills-color);
  height: 100vh;
}
.contents-skills-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
.title-skills {
  font-size: 50px;
  color: var(--text-color-body);
  font-family: var(--font-body);
  font-weight: 400;
  margin-top: 50px;
}
.subtitle-skills {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color-body);
  font-family: var(--font-body);
  font-weight: 400;
  margin-top: 50px;
}
.content-skills-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}
.skill-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 25px;
  color: var(--text-color-body);
  font-family: var(--font-body);
  font-weight: 400;
  border: none;
  color: var(--btn-text-color);
  width: 150px;
  height: 150px;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
}
.skill-item:hover #skill-selection {
  background-color: brown;
}
.skill-item:hover {
  transition: 0.3s;
  transform: scale(1.4);
}
.html-bg {
  background-image: url(../images/html-1.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.css-bg {
  background-image: url(../images/css.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.js-bg {
  background-image: url(../images/js.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.bootstrap-bg {
  background-image: url(../images/bootstrap.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.git-bg {
  background-image: url(../images/git.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (max-width: 767px) {
  .content-skills {
    padding: 5px;
    text-align: center;
    height: 110vh;
    justify-content: space-around;
  }
  .skill-item {
    width: 75px;
    height: 75px;
  }
  .skills-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
  }
}
