@import url("https://fonts.googleapis.com/css2?family=Play&family=Rajdhani:wght@300;400&display=swap");

:root {
  --header-color: #5e6472;
  --bg-color: #eceae4;
  --text-color-body: #5e6472;
  --text-color-header: #eceae4;
  --a-hover-color: #eceae4;
  --btn-color: #fcb9aa;
  --font-body: "Rajdhani", sans-serif;
  --font-header: "Play", sans-serif;
}
body {
  background-color: var(--bg-color);
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
  background-color: var(--header-color);
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: 0.4px solid whitesmoke;
  opacity: 0.95;
}
.logo {
  height: 72px;
}
.nav-bar {
  display: flex;
  gap: 25px;
  font-family: var(--font-header);
}
.nav-bar a:hover {
  color: var(--a-hover-color);
  transition: 0.3s;
}
.nav-bar-item {
  font-weight: 400;
  font-size: 20px;
  transition: 0.5s;
  color: var(--text-color-header);
}
.content {
  margin-bottom: 40px;
  margin-top: 40px;
}
.content-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.content-principal-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.content-principal-text-title {
  font-family: var(--font-body);
  font-weight: 400;
  font-size: 60px;
  color: var(--text-color-body);
}
.content-principal-text-subtitle {
  font-family: var(--font-body);
  font-weight: 300;
  color: var(--text-color-body);
  font-size: 35px;
}
.content-principal-button {
  background-color: var(--btn-color);
  width: 180px;
  height: 60px;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  font-family: var(--font-body);
  font-weight: 400;
  font-size: 25px;
  color: var(--text-color-body);
}
.content-principal-button:hover {
  background-color: rgba(116, 121, 162, 0.53);
}

.content-principal-image {
  height: 430px;
}
.footer {
  padding: 32px;
  border-top: 0.4px solid whitesmoke;
}
.footer-text {
  text-align: center;
  color: var(--text-color-body);
  font-family: var(--font-body);
  font-size: 30px;
}
