@import url("https://fonts.googleapis.com/css2?family=Play&family=Rajdhani:wght@300;400&display=swap");

* {
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--color-white);
}

:root {
    --color-white: #f5f5f5;
    --color-gray: #EEEEEE;
    --color-text-primary: #28282b;
    --color-text-secondary: #7DB9B6;
    --color-btn: #5b85a7;
    --color-btn2: hsla(182, 63%, 54%);

    --color-black: #212529;
    --color5: #5e6472;
    --font-primary: "Rajdhani", sans-serif;
    --font-secondary: "Play", sans-serif;
    --transition: all 0.3s linear;
}

html,
body {
    height: 100%;
    scroll-behavior: smooth;
}

ul {
    list-style-type: none;
}

/* HEADER */
.fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-white);
}

.nav-header {
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 75px;
}

.nav-toggle {
    /* background-color: chartreuse; */
    font-size: 1.5rem;
    color: var(--color-text);
    background-color: transparent;
    border-color: transparent;
    transition: var(--transition);
    cursor: pointer;
}

.nav-toggle:hover {
    color: var(--color3);
}

.links-container {
    /* background-color: red; */
    height: 0;
    overflow: hidden;
    transition: var(--transition);
}

.links {
    padding: 10px;
}

.links a {
    /* background-color: red; */
    /* border: 3px solid red; */
    color: var(--color-text);
    font-size: 20px;
    text-transform: capitalize;
    transition: var(--transition);
    font-weight: 400;
    font-family: var(--font-secondary);
    position: relative;
    left: 10px;
    line-height: 24px;
}

.links a:hover {
    color: var(--color-text-secondary);
    /* transform: scale(1); */
    text-transform: uppercase;
    transition: var(--transition);


}

.banner {
    /* background-color: red; */
    min-height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    gap: 55px;
    font-family: var(--font-primary);
    color: var(--color-text-primary);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    font-weight: 400;
    font-size: 48px !important;
    white-space: nowrap;
    overflow: hidden;
}


.img-projects {
    width: 250px;
}

/* Name animation */
.type-animation {
    animation: blinkCursor 500ms steps(40) infinite normal,
        typing 2.5s steps(40) 0.5s normal both;
}

@keyframes blinkCursor {
    from {
        border-right: 2px solid var(--color-text-primary);
    }

    to {
        border-right: 2px solid transparent;
    }
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

/* end Name animation */

.name-subtitle {
    font-weight: 300;
    font-size: 30px !important;
}

.btn {
    /* background-color: var(--color-btn); */
    width: 280px;
    height: 60px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    font-size: 25px;
    text-transform: capitalize;
    padding: 5px;
    transition: var(--transition);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    color: var(--clr-white);
    background: rgba(116, 121, 162, 0.53);
}

.btn-blue {
    background-color: var(--color-btn);
    color: var(--color-white);
}

.me {
    width: 250px;
}

/* MAIN CONTENT */
section {
    height: 100vh;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: var(--font-primary);
}


.title h2 {
    text-align: center;
    text-transform: uppercase;
}

.title span {
    color: yellowgreen;
}

/* ABOUT */
#about {
    background-color: var(--color-gray);
}

.content-about {
    height: 60%;
    width: 95%;
    padding: 10px;
    background-color: transparent;
}

.about-color {
    background-color: var(--color-gray);
}

.text-about {
    background-color: transparent;
    height: 100%;
    font-size: 1.3rem;
    padding: 5px;
    display: flex;
    align-items: center;
    text-align: center;

}


/* SKILLS */
#skills {
    background-color: var(--color-white);
}

.text-skills {
    font-size: 1.3rem;
}


.skills-box {
    /* border: red 3px solid; */
    width: 80vw;
    height: 500px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 3px;
    gap: 5px;
}

.card-skills {
    width: 33%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
}

.fa-star {
    color: goldenrod;
}

.skills-img {
    width: 40%;
}

/* PROJECTS */
#projects {
    background-color: var(--color-gray);
    border: 5px #212529 solid;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.box-projects {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 250px;
    padding: 5px;

    border: 2px solid blue;
}

.box-projects:hover {
    background-color: rgba(116, 121, 162, 0.53);
}

.btn-projects {
    color: red;
    width: 100%;
    height: 100%;
}

.projects-color {
    background-color: var(--color-gray);
}

/* FOOTER */
footer {
    bottom: 0;
    background-color: var(--color-black);
    color: var(--color-white);
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: var(--font-secondary);
}

footer p {
    background-color: var(--color-black);
    text-transform: capitalize;
    letter-spacing: 0.25rem;

}

#date {
    background-color: var(--color-black);
}

/* back to top button */
.top-link {
    font-size: 1.25rem;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    background: var(--color-btn2);
    width: 2rem;
    height: 2rem;
    display: grid;
    place-items: center;
    border-radius: 10px;
    color: var(--color-white);
    animation: bounce 2s ease-in-out infinite;
    visibility: hidden;
    z-index: -100;
}

a i {
    background-color: var(--color-btn2);
}

.show-link {
    visibility: visible;
    z-index: 100;
}

/* back to top button animation */
/* back to top button animation */
@keyframes bounce {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}


/* tablet size */
@media screen and (min-width: 768px) {
    nav {
        background: transparent;
    }

    .nav-center {
        background-color: transparent;
        /* border: 3px solid red; */
        width: 95vw;
        /* max-width: 1170px; */
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .nav-header {
        padding: 0;
    }

    .nav-toggle {
        display: none;
    }

    .links-container {
        height: auto !important;
    }

    .links {
        display: flex;
    }

    .links a {
        background-color: transparent;
        text-transform: capitalize;
        transition: var(--transition);
        display: block;
        color: var(--color-text-primary);
        margin: 0 1rem;

    }
}