.content-principal {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--bg-color);
  height: 90vh;
}

.content-principal-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content-principal-text-title {
  font-family: var(--font-body);
  font-weight: 400;
  font-size: 60px;
  color: var(--text-color-body);
  border-right: 2px solid var(--text-color-body);
  white-space: nowrap;
  overflow: hidden;
}

/* Name animation */
.type-animation {
  animation: blinkCursor 500ms steps(40) infinite normal,
    typing 2.5s steps(40) 0.5s normal both;
}

@keyframes blinkCursor {
  from {
    border-right: 2px solid var(--text-color-body);
  }

  to {
    border-right: 2px solid whitesmoke;
  }
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

/* end Name animation */

.content-principal-text-subtitle {
  font-family: var(--font-body);
  font-weight: 300;
  color: var(--text-color-body);
  font-size: 35px;
}

.content-principal-button {
  background-color: var(--btn-linkedin-color);
  width: 280px;
  height: 60px;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  font-family: var(--font-body);
  font-weight: 400;
  font-size: 25px;
  color: var(--btn-text-color);
}

.content-principal-button:hover {
  background-color: rgba(116, 121, 162, 0.53);
  color: var(--text-color-body);
  cursor: pointer;
}

.content-principal-image {
  height: 380px;
}

@media screen and (max-width: 768px) {
  .content-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color);
  }

  .content-principal-text-title {
    font-size: 25px;
    text-align: center;
    margin: 0 auto;
  }

  @keyframes typing {
    from {
      width: 0;
    }

    to {
      width: 180px;
    }
  }

  .content-principal-text-subtitle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
  }

  .content-principal-image {
    height: 300px;
    margin: 0 auto;
    display: block;
  }

  .content-principal-button {
    margin: 0 auto;
    cursor: pointer;
  }
}